<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019 Jonathan Nelson <ciasaboark@gmail.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest package="io.phobotic.nodyn_app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>

    <application
        android:name=".Nodyn"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Main">
        <activity
            android:name=".activity.AssetStatusListActivity"
            android:label="@string/title_activity_asset_status_list"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.phobotic.nodyn_app.activity.MainActivity"/>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".activity.SettingsImportActivity"
            android:label="@string/title_activity_settings_import"
            android:theme="@style/Main.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="*/*"/>
                <!--
                    Work around Android's ugly primitive PatternMatcher
                    implementation that can't cope with finding a . early in
                    the path unless it's explicitly matched.
                -->
                <data android:host="*"/>
                <data android:pathPattern=".*\\.nodyn"/>
                <data android:pathPattern=".*\\..*\\.nodyn"/>
                <data android:pathPattern=".*\\..*\\..*\\.nodyn"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.nodyn"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.*\\.nodyn"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.nodyn"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.nodyn"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.nodyn"/>
                <!-- keep going if you need more -->

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.SyncService"
            android:enabled="true">
        </service>
        <service
            android:name=".service.AuditEmailService"
            android:enabled="true">
        </service>
        <service
            android:name=".service.StatisticsEmailService"
            android:enabled="true">
        </service>
        <service
            android:name=".service.StatisticsService"
            android:enabled="true">
        </service>
        <service
            android:name=".service.PastDueAlertService"
            android:enabled="true">
        </service>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.UpgradeReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RescheduleOnUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AssetDetailsActivity"
            android:label="@string/title_activity_asset_details"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.phobotic.nodyn_app.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.phobotic.nodyn_app.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.UserDetailsActivity"
            android:label="@string/title_activity_user_details"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.phobotic.nodyn_app.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.phobotic.nodyn_app.activity.MainActivity"/>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3a8beb947bb71118e0b546ad35a311f886cf00c8"/>

        <activity
            android:name=".activity.CheckoutActivity"
            android:label="@string/title_activity_check_out"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.CheckinActivity"
            android:label="@string/title_activity_check_in"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.ShareSettingsActivity"
            android:label="@string/title_activity_share_settings"
            android:parentActivityName=".activity.SettingsActivity"
            android:theme="@style/Main">
        </activity>
        <activity
            android:name=".activity.ReceiveSettingsActivity"
            android:label="@string/title_activity_receive_settings"
            android:parentActivityName=".activity.SettingsActivity"
            android:theme="@style/Main">
        </activity>
        <activity
            android:name=".activity.ReceiveSettingsNFCActivity"
            android:label="@string/title_activity_receive_nfc_settings"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AuditActivity"
            android:label="@string/title_activity_audit"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Main"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.phobotic.nodyn_app.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.AuditDefinitionsActivity"
            android:label="@string/title_activity_defined_audits"
            android:parentActivityName=".activity.SettingsActivity"
            android:theme="@style/Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.phobotic.nodyn_app.activity.SettingsActivity"/>
        </activity>
    </application>

</manifest>